.Autocomplete {
  position: relative;

  input {
    width: 10rem;
    box-sizing: border-box;
    padding: 5px;
  }

  &__Loading {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    list-style: none;
    padding: 5px;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 10rem;
    box-sizing: border-box;
  }

  &__Suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 10rem;
    box-sizing: border-box;

    li {
      padding: 5px;
      cursor: pointer;

      &.selected {
        background-color: #f2f2f2;
      }
    }
  }
}