@import "../../styles/variables/_palette";
@import "../../styles/variables/_mixins";

.cell {
  @include table-cell-padding;
  width: 100px;
  width: auto;
  box-sizing: border-box;;
  border: 1px solid $table-border-gray;

  p {
    margin: 0;
  }

  &__header {
    background-color: $table-header-gray;
    padding: 0;
  }
}