.App {
  padding: 2rem;

  &__Container {
    max-width: 60rem;
    margin: auto;
    display: flex;
    // padding: 2rem;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__Link {
    // background-color: red;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;

    &:not(:first-child) {
      border-top: 1px solid #CCC;
    }

    &:hover {
      background-color: #CCC;
    }
  }
}
